## Packages

In [ ]:
!pip install miceforest

Collecting miceforest
  Downloading miceforest-5.7.0-py3-none-any.whl (58 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 58.2/58.2 kB 1.1 MB/s eta 0:00:00
Requirement already satisfied: lightgbm>=3.3.1 in /usr/local/lib/python3.10/dist-packages (from miceforest) (4.1.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from miceforest) (1.23.5)
Collecting blosc (from miceforest)
  Downloading blosc-1.11.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.5/2.5 MB 26.2 MB/s eta 0:00:00
Collecting dill (from miceforest)
  Downloading dill-0.3.7-py3-none-any.whl (115 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 115.3/115.3 kB 7.7 MB/s eta 0:00:00
Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (from lightgbm>=3.3.1->miceforest) (1.11.3)
Installing collected packages: dill, blosc, miceforest
Successfully installed blosc-1.11.1 dill-0.3.7 miceforest-5.7.0

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
import numpy as np, pandas as pd
import miceforest as mf

## Reading Dataset

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/LLC Assignment/data_preparation.csv')
data

,DATE,Year,Month,households,subsidies,urban_popln,const_price,new_const_units,income,interest_rate,gdp,unemployment_rate,home_prices
0,1940-01-01,1940.0,1.0,34949,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1941-01-01,1941.0,1.0,.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1942-01-01,1942.0,1.0,.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1943-01-01,1943.0,1.0,.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1944-01-01,1944.0,1.0,.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5064,2023-04-01,2023.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,300.198
5065,2023-05-01,2023.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,302.620
5066,2023-06-01,2023.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,304.651
5067,2023-07-01,2023.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,306.634
5068,2023-08-01,2023.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,309.404

In [ ]:
data.describe()

,Year,Month,subsidies,urban_popln,const_price,new_const_units,income,interest_rate,gdp,unemployment_rate,home_prices
count,5068.000000,5005.000000,63.000000,63.000000,922.000000,670.000000,777.000000,832.000000,307.000000,910.000000,440.000000
mean,1989.745856,6.265934,17.357508,76.680460,112.878304,1396.762687,8243.979537,4.599916,37398.504886,5.709670,141.526198
std,20.527178,3.520269,14.365117,3.769963,78.435709,358.271084,4291.307989,3.596581,15396.115639,1.708239,60.725890
min,1940.000000,1.000000,0.146000,69.996000,22.200000,520.000000,2318.400000,0.050000,15032.000000,2.500000,63.965000
25%,1973.000000,3.000000,2.463500,73.658000,34.150000,1190.000000,4537.200000,1.790000,24181.500000,4.400000,82.133750
50%,1991.000000,6.000000,17.055000,75.701000,107.100000,1396.000000,7282.000000,4.160000,35582.000000,5.500000,140.690000
75%,2007.000000,9.000000,29.058000,80.184000,164.800000,1641.750000,12066.400000,6.242500,52652.000000,6.700000,178.314500
max,2023.000000,12.000000,48.021000,83.084000,353.015000,2299.000000,20422.600000,19.100000,67039.000000,14.700000,309.404000

In [ ]:
data.dtypes

DATE                  object
Year                 float64
Month                float64
households            object
subsidies            float64
urban_popln          float64
const_price          float64
new_const_units      float64
income               float64
interest_rate        float64
gdp                  float64
unemployment_rate    float64
home_prices          float64
dtype: object

## Data Preprocessing

In [ ]:
data.Year.unique()

array([1940., 1941., 1942., 1943., 1944., 1945., 1946., 1947., 1948.,
       1949., 1950., 1951., 1952., 1953., 1954., 1955., 1956., 1957.,
       1958., 1959., 1960., 1961., 1962., 1963., 1964., 1965., 1966.,
       1967., 1968., 1969., 1970., 1971., 1972., 1973., 1974., 1975.,
       1976., 1977., 1978., 1979., 1980., 1981., 1982., 1983., 1984.,
       1985., 1986., 1987., 1988., 1989., 1990., 1991., 1992., 1993.,
       1994., 1995., 1996., 1997., 1998., 1999., 2000., 2001., 2002.,
       2003., 2004., 2005., 2006., 2007., 2008., 2009., 2010., 2011.,
       2012., 2013., 2014., 2015., 2016., 2017., 2018., 2019., 2020.,
       2021., 2022., 2023.,   nan])

In [ ]:
# drop all rows that contain 'nan' in year column
id = data[data['Year'].isnull()].index[0]
data = data.drop(data.index[id])

data.Year.unique()

array([1940., 1941., 1942., 1943., 1944., 1945., 1946., 1947., 1948.,
       1949., 1950., 1951., 1952., 1953., 1954., 1955., 1956., 1957.,
       1958., 1959., 1960., 1961., 1962., 1963., 1964., 1965., 1966.,
       1967., 1968., 1969., 1970., 1971., 1972., 1973., 1974., 1975.,
       1976., 1977., 1978., 1979., 1980., 1981., 1982., 1983., 1984.,
       1985., 1986., 1987., 1988., 1989., 1990., 1991., 1992., 1993.,
       1994., 1995., 1996., 1997., 1998., 1999., 2000., 2001., 2002.,
       2003., 2004., 2005., 2006., 2007., 2008., 2009., 2010., 2011.,
       2012., 2013., 2014., 2015., 2016., 2017., 2018., 2019., 2020.,
       2021., 2022., 2023.])

In [ ]:

data['households'] = data['households'].replace('.',np.nan)
data['households'] = data['households'].fillna(value=-1)
data['households'] = data['households'].astype(float)
data['households'] = data['households'].replace(-1,np.nan)


data = data.drop(['DATE'], axis=1)
data.columns

Index(['Year', 'Month', 'households', 'subsidies', 'urban_popln',
       'const_price', 'new_const_units', 'income', 'interest_rate', 'gdp',
       'unemployment_rate', 'home_prices'],
      dtype='object')

## Missing Value Imputation

In [ ]:
## Missing Value Imputation:

imputed = mf.ImputationKernel(
  data=data,
  datasets=1,
  save_all_iterations=True,
  random_state=0
)
# Run the MICE algorithm for 5 iterations on each of the datasets
imputed.mice(n_estimators=80, iterations=15,verbose=True)

mice_imputation = imputed.complete_data()

Initialized logger with name mice 1-15
Dataset 0
1  | Year | Month | const_price | unemployment_rate | interest_rate | income | new_const_units | home_prices | gdp | households | subsidies | urban_popln
2  | Year | Month | const_price | unemployment_rate | interest_rate | income | new_const_units | home_prices | gdp | households | subsidies | urban_popln
3  | Year | Month | const_price | unemployment_rate | interest_rate | income | new_const_units | home_prices | gdp | households | subsidies | urban_popln
4  | Year | Month | const_price | unemployment_rate | interest_rate | income | new_const_units | home_prices | gdp | households | subsidies | urban_popln
5  | Year | Month | const_price | unemployment_rate | interest_rate | income | new_const_units | home_prices | gdp | households | subsidies | urban_popln
6  | Year | Month | const_price | unemployment_rate | interest_rate | income | new_const_units | home_prices | gdp | households | subsidies | urban_popln
7  | Year | Month | const_price | unemployment_rate | interest_rate | income | new_const_units | home_prices | gdp | households | subsidies | urban_popln
8  | Year | Month | const_price | unemployment_rate | interest_rate | income | new_const_units | home_prices | gdp | households | subsidies | urban_popln
9  | Year | Month | const_price | unemployment_rate | interest_rate | income | new_const_units | home_prices | gdp | households | subsidies | urban_popln
10  | Year | Month | const_price | unemployment_rate | interest_rate | income | new_const_units | home_prices | gdp | households | subsidies | urban_popln
11  | Year | Month | const_price | unemployment_rate | interest_rate | income | new_const_units | home_prices | gdp | households | subsidies | urban_popln
12  | Year | Month | const_price | unemployment_rate | interest_rate | income | new_const_units | home_prices | gdp | households | subsidies | urban_popln
13  | Year | Month | const_price | unemployment_rate | interest_rate | income | new_const_units | home_prices | gdp | households | subsidies | urban_popln
14  | Year | Month | const_price | unemployment_rate | interest_rate | income | new_const_units | home_prices | gdp | households | subsidies | urban_popln
15  | Year | Month | const_price | unemployment_rate | interest_rate | income | new_const_units | home_prices | gdp | households | subsidies | urban_popln

In [ ]:
## Checking the effect of imputation on columns with missing values:

nan_columns = data.columns[data.isnull().any()].tolist()
for val in nan_columns:
  print("Column {}:".format(val))
  print("RMSE without imputation: {}".format(np.std(data[val])))
  print("RMSE with imputation: {}".format(np.std(mice_imputation[val])))
  print("--------------------------------------------")
  print("--------------------------------------------")

Column Year:
RMSE without imputation: 20.52515283191254
RMSE with imputation: 20.524641356098975
--------------------------------------------
--------------------------------------------
Column Month:
RMSE without imputation: 3.5199174043030093
RMSE with imputation: 3.5187618182138674
--------------------------------------------
--------------------------------------------
Column households:
RMSE without imputation: 28999.04241013768
RMSE with imputation: 26712.089785174012
--------------------------------------------
--------------------------------------------
Column subsidies:
RMSE without imputation: 14.250651800045059
RMSE with imputation: 14.398050278814807
--------------------------------------------
--------------------------------------------
Column urban_popln:
RMSE without imputation: 3.739922946432279
RMSE with imputation: 3.8689089482591124
--------------------------------------------
--------------------------------------------
Column const_price:
RMSE without imputation: 78.39316192443579
RMSE with imputation: 77.05007882168493
--------------------------------------------
--------------------------------------------
Column new_const_units:
RMSE without imputation: 358.00361723171363
RMSE with imputation: 328.9076102724016
--------------------------------------------
--------------------------------------------
Column income:
RMSE without imputation: 4288.545640357208
RMSE with imputation: 4404.922032772929
--------------------------------------------
--------------------------------------------
Column interest_rate:
RMSE without imputation: 3.5944186659049584
RMSE with imputation: 3.615577157658744
--------------------------------------------
--------------------------------------------
Column gdp:
RMSE without imputation: 15371.020079228143
RMSE with imputation: 14626.21060555281
--------------------------------------------
--------------------------------------------
Column unemployment_rate:
RMSE without imputation: 1.7073000666816307
RMSE with imputation: 1.6573240461186178
--------------------------------------------
--------------------------------------------
Column home_prices:
RMSE without imputation: 60.65684405380585
RMSE with imputation: 59.0352115105251
--------------------------------------------
--------------------------------------------

In [ ]:
# Replacing missing with imputed values:
data = mice_imputation
data.dtypes

Year                 float64
Month                float64
households           float64
subsidies            float64
urban_popln          float64
const_price          float64
new_const_units      float64
income               float64
interest_rate        float64
gdp                  float64
unemployment_rate    float64
home_prices          float64
dtype: object

In [ ]:
data

,Year,Month,households,subsidies,urban_popln,const_price,new_const_units,income,interest_rate,gdp,unemployment_rate,home_prices
0,1940.0,1.0,34949.0,0.159,72.247,23.200,1257.0,2399.7,1.22,15137.0,4.0,67.739
1,1941.0,1.0,39107.0,0.159,72.612,23.200,1074.0,2353.8,0.68,15204.0,4.0,67.739
2,1942.0,1.0,40532.0,0.176,71.508,22.900,1281.0,2399.7,1.15,15137.0,3.9,68.506
3,1943.0,1.0,40532.0,0.195,71.879,23.200,1302.0,2370.8,1.15,15204.0,3.9,68.506
4,1944.0,1.0,40532.0,0.195,71.879,22.500,1274.0,2399.7,1.15,15250.0,4.0,68.107
...,...,...,...,...,...,...,...,...,...,...,...,...
5064,2023.0,4.0,131202.0,40.185,83.084,335.032,1317.0,16770.5,3.71,66078.0,3.4,300.198
5065,2023.0,5.0,131202.0,44.147,82.459,333.980,1521.0,16764.6,4.81,66078.0,3.6,302.620
5066,2023.0,6.0,131202.0,44.147,82.873,331.729,1492.0,16770.5,4.60,65783.0,3.7,304.651
5067,2023.0,7.0,129224.0,40.185,83.084,331.729,1469.0,16764.6,5.24,66341.0,3.7,306.634
5068,2023.0,8.0,129224.0,45.299,82.459,332.224,1442.0,16829.7,4.05,67039.0,3.7,309.404

In [ ]:
# Convert columns to nearest integer and convert into integer data type for integer typed columns:

data['Year'] = data['Year'].round().astype('int64')
data['Month'] = data['Month'].round().astype('int64')
data['households'] = data['households'].round().astype('int64')
data['gdp'] = data['gdp'].round().astype('int64')
data['new_const_units'] = data['new_const_units'].round().astype('int64')
data.dtypes

Year                   int64
Month                  int64
households             int64
subsidies            float64
urban_popln          float64
const_price          float64
new_const_units        int64
income               float64
interest_rate        float64
gdp                    int64
unemployment_rate    float64
home_prices          float64
dtype: object

In [ ]:
# Saving cleaned preprocessed data in the form of csv:
data.to_csv('/content/drive/MyDrive/Colab Notebooks/LLC Assignment/data_preprocessed.csv', index=False)